.electro {
    background-color: #8557B3;
}
.pyro {
    background-color: #C56645;
}
.hydro {
    background-color: #3874BC;
}
.cryo {
    background-color: #75D7E9;
}
.anemo {
    background-color: #3CB5B7;
}